/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


# ignore some files
database/migration
database/migration/2024_04_04_155146_create_clubs_table.php
database/migration/2024_04_04_155200_create_activites_table.php
database/migration/2024_04_04_155200_create_activites_table.php


